.mui-table-view-cell>a:not(.mui-btn){
	margin: -5px -15px;
}
.goods_item{
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}
.goodsTxt{
	border-bottom: 1px solid #D7D7D7;
	background: #fff;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.mui-right{
	display: flex;
	padding: 20px 15px;
	border-bottom: 1px solid #D7D7D7;
}
.typeRight{
	width: 100%;
	margin-left: 1rem;
}
.zdzName{
	font-size: 19px;
}
.typeCenter{
	margin: 10px 0;
	color: #B6B6B6;
	font-size: 16px;
}
.typeCenter span{
	margin-right: 0.5rem;
}
.praiseAnum{
	display: flex;
	justify-content: space-between;
}
.praise{
	flex-direction: column;
	justify-content: center;
}
.praiseAnum i{
	color: #222222;
}
.goods_prices{
	margin-top: 10px;
	background: #fff;
	
	border-bottom: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
}
.goods_prices_txt{
	border-bottom: 1px solid #D7D7D7;
	padding: 15px;
}
.goods_prices_total{
	padding: 15px;
	
}
.goods_prices_total p{
	color: #222222;
	font-size: 16px;
}
.suePay{
	width: 70%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 1.8rem;
	margin: 50px auto 5px; 
	border-radius: 8px;
}