/*头部str*/

/*尾部str*/
footer{
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #984B99;
}
.fixed{
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
	-webkit-align-content: center;
	-webkit-align-items: center;
	align-items: center;
	align-content: center;
	border-top: 3px solid #E8D5E8;
	font-size: 15px;
}
.active{
	background-color: #903991!important;
	font-weight: bolder;
}
.borderW{
	display: -webkit-flex;
	-webkit-justify-content: space-around;
}

.imgUl{
	width: 100%;
	height: 100px;
	overflow: hidden;
	overflow-x:scroll;
	white-space: nowrap;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
}
.borderB,.borderW,.borderJ{
	display: -webkit-flex;
	justify-content: space-between;
	height: 45px;
	line-height: 45px;
	background-color: #a859a9;
	color: #fff;
	font-family: "微软雅黑";
}
.uploadingImg{
	height: 30px;
	line-height: 30px;
	border: 1px solid #fb803d;
	padding: 0 5px;
}
.borderJ{
	justify-content: flex-start!important;
	justify-content: initial;
}
.borderB .footerImg,.borderW .footerImg,.borderJ .footerImg{
  text-align: center;
  display: -webkit-flex;
  align-items: center;
  padding: 0 20px;
}

.imgList ul li img{
	margin-right: 5px;
}
.ThirdFloor{
	width: 100%;
	height: 100%;
}
.TextAreaBox{
	width: 98%;
	height: 80px;
}
.TextArea{
	width: 100%;
	height: 50px;
	padding: 10px;
	border: none;
	outline: none;
}
.TextAreaBox .fontf,.TextAreaBox .fontsize,.TextAreaBox .fontColor{
	height: 100%;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
	overflow-x:scroll;
	white-space: nowrap;
	display: flex;
	display: -webkit-flex;
	flex-wrap: nowrap;
}
.TextAreaBox .fontf p,.TextAreaBox .fontsize p,.TextAreaBox .fontColor p{
	width: 130px;
	margin: 0  15px;
	padding: 0 10px;
	height: 42px;
	line-height: 42px;
	border: 1px solid #D7D7D7;
	text-align: center;
	color: #666;
}
.TextAreaBox .fontColor p{
	color: #fff;
	border: none;
}
.TextArea::-webkit-input-placeholder{
	font-size: 16px;
}
.bottle1 li{
	display: -webkit-flex;
	align-items: center;
	height: 100%;
	width: 100px;
	background:#fff;
	-webkit-justify-content: center;
}
.bottle1 li  p{
	font-size: 16px;
	font-weight: 700;
}
.bottle2 li,.bottle3 li{
	display: -webkit-flex;
	align-items: center;
	background:#fff;
	-webkit-justify-content: center;
}
.wineBottle{
	flex: 1;
}
.whiteBottlePrice{
	flex: 2;
	-webkit-justify-content: flex-end!important;
	justify-content: flex-end!important;
	justify-content: flex-end;
	margin-right: 15px;
}
.bottle2 li  p,.bottle3 li p{
	font-size: 16px;
	font-weight: 700;
}


/*新手引导（新增修改）*/
.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: none;
}
.searchTip{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
	color: #fff;
	font-size: 25px;
}
.searchTip div{
	position: absolute;
}
.searchTip div a{
	display: block;
	width: 73px;
	position: absolute;
	text-indent: -99999px;
	overflow: hidden;
}
.stepA{
	width: 336px;
	height: 432px;
	background: url(../images/guide/guideAAA.png) no-repeat;
	background-size: contain;
	bottom:4px;
	left: 8px;
}
.stepB{
	width: 336px;
	height: 412px;
	background: url(../images/guide/guideB.png) no-repeat;
	background-size: contain;
	bottom: 4px;
    left: 8px;
}
.stepC{
	width: 336px;
	height: 412px;
	background: url(../images/guide/guidec.png) no-repeat;
	background-size: contain;
	bottom: 70px;
    left: 6px;
}
.stepD{
	width: 344px;
    height: 364px;
    background: url(../images/guide/guideD.png) no-repeat;
    background-size: contain;
    bottom: 58px;
    left: 16px;
}
.stepE{
	width: 344px;
    height: 407px;
    background: url(../images/guide/guideE.png) no-repeat;
    background-size: contain;
    bottom: -3px;
    left: 3px;
}
.stepF{
	width: 344px;
    height: 435px;
    background: url(../images/guide/guideF.png) no-repeat;
    background-size: contain;
    bottom: 110px;
    left: 12px;
}
.stepA a{
	bottom: 109px;
    left: 208px;
}
.stepB a{
	bottom: 217px;
    left: 201px;
}
.stepC a{
	bottom: 156px;
    left: 203px;
}
.stepD a{
	bottom: 169px;
    left: 203px;
}
.stepE a{
	bottom: 221px;
    left: 203px;
}
.stepF a{
	bottom: 156px;
    left: 209px;
}
/*适应不同的屏幕*/
/*iphone5*/
@media only screen
and (min-device-width : 320px)

and (max-device-height : 568px){
	.borderB .footerImg,.borderW .footerImg{
		
	padding: 0 5px;
}