body{
  background: rgb(240,240,240);
}
.activeBg{
	background: #DDC3DE;
}
.fontw{
	font-weight: 600;
}
/*头部str*/
header{
	height: 30px;
	width: 100%;
	line-height: 30px;
	background: #984B99;
	display: flex;
	display: -webkit-flex;
}
.arrow{
	margin-left: 15px;
	margin-top: 5px;
}
.addressTxt{
	color: #fff;
	font-size: 15px;
	font-family: "youyuan";
	margin: 0 auto;
}
.footer{
	width: 100%;
	border-top: 2px solid #DDCBDD;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	color: #984B99;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
.footerIcon{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
}
/*尾部end*/
.searchBox{
	margin: 15px auto;
}
.search{
	width: 90%;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	background: #fff;
	position: relative;
	top: 5px;
}
#searchIcon{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	z-index: 1;
}
#distributorSearch{
	outline: #984B99;
	height: 30px;
	line-height: 30px;
	margin: 0px auto;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	padding-left: 27px;
}
/*内容部分*/
.today,.all{
	background: #fff;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	padding: 8px 0;
}
.today p,.all p{
	color: #969696;
	font-size: 12px;
}
.today p:nth-child(1),.all p:nth-child(1),.today p b,.all p b{
	color: #984B99;
	font-size: 16px;
	font-weight: 700;
}
.wxId{
	background: #fff;
	width: 100%;
}
.wxIdBox{
	margin: 10px 15px 0;
	padding: 10px 0;
}
.wxCon{
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-between;
}
.wxidTop{
	display: -webkit-flex;
	justify-content: space-between;
}
.wxidBottom{
	margin-top: 10px;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px  solid rgb(240,240,240);
}
.wxidBottomRight{
	display: -webkit-flex;
	justify-content: space-around;
	align-items: center;
}
